# Ignore CI build directory
build/
xcuserdata
cmake-build-debug/
.idea/


# Visual Studio files
.vs
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user
*.dll
_ReSharper.Caches/
Win32-Debug/
Win32-Release/
x64-Debug/
x64-Release/
x64/

# Ignore autoconf / automake files
Makefile.in
aclocal.m4
configure
build-aux/
autom4te.cache/
leetcode/m4/libtool.m4
leetcode/m4/ltoptions.m4
leetcode/m4/ltsugar.m4
leetcode/m4/ltversion.m4
leetcode/m4/lt~obsolete.m4
leetcode/m4


# macOS files
.DS_Store
leetcode/.DS_Store
leetcode/xcode/.DS_Store

